* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #dde1e7;
    color: rgb(117, 32, 190);
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 90%;
    justify-content: center;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff60, 3px 3px 5px rgb(94, 104, 121, .288);
    padding: 50px;
}
h1 {
    font-size: 3.5em;
    margin-bottom: 30px;
}
label {
    margin: 10px 0;
    font-size: 2.2rem;
    color: rgb(117, 32, 190);
}
input {
    padding: 5px 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(99, 92, 102);
    font-size: 2rem;
    outline: none;
    border: 2px solid transparent;
}
input:focus {
    border: 2px solid rgb(117, 32, 190);
}
input::placeholder {
    color: #989ba0;
    font-size: 1.8rem;
}
button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 2.3rem;
    background-color: rgb(117, 32, 190);
    border: none;
    color: white;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}

.resultado {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: rgb(117, 32, 190);
}
.paragrafo-resultado {
    padding: 10px 20px;
    background-color: rgb(23, 150, 11);
    color: #dde1e7;
}
.paragrafo-incorreto {
    padding: 10px 20px;
    color: #dde1e7;
    background-color: rgb(224, 48, 48);
}